h1{
    font-family: sans-serif;
}
a {
    color
    : darkgreen;
}
p {
    font-family: serif;
}
mark {
    color: darkblue;
    background-color: pink;
}
h2 {
    text-align: left;
    font-family: sans-serif;
}
pre {
    font-family: monospace;
}
strike {
    color: grey;
}
h3{
    color: rgba(0, 0, 139, 0.8);
}

.transparent-text {
    color: rgba(0, 0, 0, 50%);
}

body{
    background-image: url("cross.png");
    background-color: #DCF5F5;
}

#content {
    background-color: white;
    border-radius: 8px;
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;
}

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

.red-border{ 
    border: medium solid red; 
}

.blue-border{
    border: medium solid blue;
}

.red-outline{ 
    outline: medium solid red;
}

hr{
    border-color: #CFDFE4;
}