h1{
    font-family: sans-serif;
}
a {
    color
    : darkgreen;
}
p {
    font-family: serif;
}
mark {
    color: darkblue;
    background-color: pink;
}
h2 {
    text-align: left;
    font-family: sans-serif;
}
pre {
    font-family: monospace;
}
strike {
    color: grey;
}
h3{
    color: rgba(0, 0, 139, 0.8);
}

.transparent-text {
    color: rgba(0, 0, 0, 50%);
}
